<form>
  <mat-card>
    <mat-card-header>
      <mat-card-title>登陆：</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-input-container class="full-width">
        <input matInput type="text" placeholder="您的email">
      </mat-input-container>
      <mat-input-container class="full-width">
        <input matInput type="password" placeholder="您的密码">
      </mat-input-container>
      <button mat-raised-button color="primary" type="button">登陆</button>
    </mat-card-content>
    <mat-card-actions class="text-right">
      <p>还没有账户？<a href="">注册</a> </p>
      <p>忘记密码？<a href="">找回</a> </p>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        每日佳句
      </mat-card-title>
      <mat-card-subtitle>
        满足感在于不断的努力，而不是现有成就。全心努力定会胜利满满。
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/quote_fallback.jpg" alt="">
    <mat-card-content>
      Satisfaction lies in continuous effort, not in present achievement. The whole heart will be filled with victory.
    </mat-card-content>
  </mat-card>
</form>