<mat-card>
  <mat-card-header>
    <mat-card-title>登陆：</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-input-container align="end">
      <span matPrefix>wang</span>
      <input matInput type="text" placeholder="您的email">
      <span matSuffix>@gmail.com</span>
      <mat-hint>必填项</mat-hint>
      <mat-error></mat-error>
    </mat-input-container>
  </mat-card-content>
  <mat-card-actions>
    <p>还没有账户？<a href="">注册</a> </p>
    <p>忘记密码？<a href="">找回</a> </p>
  </mat-card-actions>
</mat-card>